# Backend
**/target/
backend/.idea/

# Frontend
frontend/node_modules/
frontend/dist/

# Vue/Vite nested frontend
frontend/hotpot-restaurant-booking_frontend/hotpot-restaurant-booking/node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
backend/.gradle/