CREATE DATABASE [hotpot_restaurant_booking];
GO

USE [hotpot_restaurant_booking];
GO

-- =====================================================
-- 1. CÁC BẢNG ĐỘC LẬP
-- =====================================================

CREATE TABLE [dbo].[ChucVu] (
    [id_chuc_vu] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_chuc_vu] VARCHAR(15),
    [ten_chuc_vu] NVARCHAR(20)
);
GO

CREATE TABLE [dbo].[DanhMuc] (
    [id_danh_muc] INT IDENTITY(1,1) PRIMARY KEY,
    [loai_danh_muc] NVARCHAR(50),
    [mo_ta] NVARCHAR(100),
    [quay] VARCHAR(10) NOT NULL DEFAULT 'BEP'
);
GO

CREATE TABLE [dbo].[KhuVuc] (
    [id_khu_vuc] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_khu_vuc] VARCHAR(20),
    [mo_ta] NVARCHAR(100),
    [ten_khu_vuc] NVARCHAR(30),
    [trang_thai] TINYINT
);
GO

CREATE TABLE [dbo].[DotGiamGia] (
    [id_dot_giam_gia] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_chuong_trinh] NVARCHAR(40),
    [ngay_bat_dau] DATE,
    [ngay_ket_thuc] DATE
);
GO

CREATE TABLE [dbo].[Combo] (
    [id_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_combo] NVARCHAR(50),
    [gia_combo] DECIMAL(18,2),
    [hinh_anh] VARCHAR(500),
    [trang_thai] TINYINT,
    [trang_thai_ban_hang] TINYINT NOT NULL DEFAULT 1
);
GO

CREATE TABLE [dbo].[GiamGia] (
    [id_giam_gia] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_giam_gia] VARCHAR(20),
    [ngay_tao] DATE,
    [ngay_ket_thuc] DATE,
    [dieu_kien_su_dung] NVARCHAR(100),
    [gia_tri_giam_toi_da] DECIMAL(18,2),
    [gia_tri_giam] DECIMAL(18,2),
    [loai_giam] VARCHAR(20),
    [so_luong_ma_giam_gia] INT,
    [so_luong_dung] INT,
    [trang_thai] TINYINT
);
GO

-- =====================================================
-- 2. TÀI KHOẢN VÀ NHÂN SỰ
-- =====================================================

CREATE TABLE [dbo].[TaiKhoan] (
    [id_tai_khoan] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_tai_khoan] VARCHAR(20) UNIQUE,
    [ten_dang_nhap] VARCHAR(50) UNIQUE,
    [mat_khau] VARCHAR(255),
    [trang_thai] BIT,
    [id_chuc_vu] INT NOT NULL,
    CONSTRAINT FK_TaiKhoan_ChucVu
        FOREIGN KEY ([id_chuc_vu])
        REFERENCES [dbo].[ChucVu]([id_chuc_vu])
);
GO

CREATE TABLE [dbo].[Mon] (
    [id_mon] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_mon] NVARCHAR(100),
    [don_gia_hien_tai] DECIMAL(18,2),
    [id_danh_muc] INT,
    [trang_thai] TINYINT DEFAULT 0,
    [hinh_anh] VARCHAR(500),
    [trang_thai_ban_hang] TINYINT NOT NULL DEFAULT 1,
    CONSTRAINT FK_Mon_DanhMuc
        FOREIGN KEY ([id_danh_muc])
        REFERENCES [dbo].[DanhMuc]([id_danh_muc])
);
GO

CREATE TABLE [dbo].[Ban] (
    [id_ban] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_ban] NVARCHAR(20),
    [loai_ban] TINYINT,
    [id_khu_vuc] INT,
    [trang_thai] TINYINT,
    CONSTRAINT FK_Ban_KhuVuc
        FOREIGN KEY ([id_khu_vuc])
        REFERENCES [dbo].[KhuVuc]([id_khu_vuc])
);
GO

CREATE TABLE [dbo].[KhachHang] (
    [id_khach_hang] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_khach_hang] VARCHAR(15) UNIQUE,
    [ten_khach_hang] NVARCHAR(50),
    [gioi_tinh] BIT,
    [dia_chi] NVARCHAR(100),
    [so_dien_thoai] VARCHAR(15) UNIQUE,
    [id_tai_khoan] INT,
    [email] VARCHAR(100),
    [trang_thai] BIT,
    CONSTRAINT FK_KhachHang_TaiKhoan
        FOREIGN KEY ([id_tai_khoan])
        REFERENCES [dbo].[TaiKhoan]([id_tai_khoan])
);
GO

CREATE TABLE [dbo].[NhanVien] (
    [id_nhan_vien] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_nhan_vien] VARCHAR(15) UNIQUE,
    [ten_nhan_vien] NVARCHAR(50),
    [gioi_tinh] BIT,
    [so_dien_thoai] VARCHAR(15),
    [email] VARCHAR(100),
    [id_chuc_vu] INT,
    [id_tai_khoan] INT,
    [dia_chi] NVARCHAR(100),
    [trang_thai] BIT,
    CONSTRAINT FK_NhanVien_ChucVu
        FOREIGN KEY ([id_chuc_vu])
        REFERENCES [dbo].[ChucVu]([id_chuc_vu]),
    CONSTRAINT FK_NhanVien_TaiKhoan
        FOREIGN KEY ([id_tai_khoan])
        REFERENCES [dbo].[TaiKhoan]([id_tai_khoan])
);
GO

-- =====================================================
-- 3. COMBO VÀ GIẢM GIÁ
-- =====================================================

CREATE TABLE [dbo].[ChiTietCombo] (
    [id_chi_tiet_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [so_luong] INT,
    [id_mon] INT,
    [id_combo] INT,
    [mo_ta] NVARCHAR(100),
    FOREIGN KEY ([id_mon]) REFERENCES [dbo].[Mon]([id_mon]),
    FOREIGN KEY ([id_combo]) REFERENCES [dbo].[Combo]([id_combo])
);
GO

CREATE TABLE [dbo].[ChiTietGiamGiaMon] (
    [id_chi_tiet_giam_gia_mon] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dot_giam_gia] INT,
    [id_mon] INT,
    [muc_giam] DECIMAL(18,2),
    [loai_giam] VARCHAR(20) DEFAULT 'TIEN',
    [trang_thai] TINYINT DEFAULT 1,
    FOREIGN KEY ([id_dot_giam_gia])
        REFERENCES [dbo].[DotGiamGia]([id_dot_giam_gia]),
    FOREIGN KEY ([id_mon])
        REFERENCES [dbo].[Mon]([id_mon])
);
GO

CREATE TABLE [dbo].[ChiTietGiamGiaCombo] (
    [id_chi_tiet_giam_gia_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dot_giam_gia] INT NOT NULL,
    [id_combo] INT NOT NULL,
    [muc_giam] DECIMAL(18,2),
    [loai_giam] VARCHAR(20) DEFAULT 'PHANTRAM',
    [trang_thai] TINYINT DEFAULT 1,
    FOREIGN KEY ([id_dot_giam_gia])
        REFERENCES [dbo].[DotGiamGia]([id_dot_giam_gia]),
    FOREIGN KEY ([id_combo])
        REFERENCES [dbo].[Combo]([id_combo])
);
GO

-- =====================================================
-- 4. ĐẶT BÀN
-- =====================================================

CREATE TABLE [dbo].[DatBan] (
    [id_dat_ban] INT IDENTITY(1,1) PRIMARY KEY,
    [id_khach_hang] INT,
    [ngay_dat] DATE,
    [gio_dat] TIME,
    [sdt_khach_hang] VARCHAR(15),
    [so_nguoi] INT,
    [trang_thai] TINYINT,
    [ghi_chu] NVARCHAR(500),
    [thoi_gian_den_du_kien] DATETIME2,
    [so_tien_coc] DECIMAL(18,2),
    [trang_thai_coc] TINYINT,
    [phuong_thuc_thanh_toan] TINYINT,

    [id_tai_khoan_tao] INT NULL,
    [id_tai_khoan_xac_nhan] INT NULL,
    [id_tai_khoan_huy] INT NULL,

    FOREIGN KEY ([id_khach_hang])
        REFERENCES [dbo].[KhachHang]([id_khach_hang]),

    FOREIGN KEY ([id_tai_khoan_tao])
        REFERENCES [dbo].[TaiKhoan]([id_tai_khoan]),

    FOREIGN KEY ([id_tai_khoan_xac_nhan])
        REFERENCES [dbo].[TaiKhoan]([id_tai_khoan]),

    FOREIGN KEY ([id_tai_khoan_huy])
        REFERENCES [dbo].[TaiKhoan]([id_tai_khoan])
);
GO

CREATE TABLE [dbo].[ChiTietDatBanBan] (
    [id_chi_tiet_dat_ban_ban] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dat_ban] INT NOT NULL,
    [id_ban] INT NOT NULL,

    CONSTRAINT UQ_DatBan_Ban UNIQUE([id_dat_ban], [id_ban]),

    FOREIGN KEY ([id_dat_ban])
        REFERENCES [dbo].[DatBan]([id_dat_ban]),

    FOREIGN KEY ([id_ban])
        REFERENCES [dbo].[Ban]([id_ban])
);
GO

CREATE TABLE [dbo].[ChiTietDatBanCombo] (
    [id_chi_tiet_dat_ban_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dat_ban] INT NOT NULL,
    [id_combo] INT NOT NULL,
    [so_luong] INT NOT NULL DEFAULT 1,

    CONSTRAINT UQ_DatBan_Combo UNIQUE([id_dat_ban], [id_combo]),

    FOREIGN KEY ([id_dat_ban])
        REFERENCES [dbo].[DatBan]([id_dat_ban]),

    FOREIGN KEY ([id_combo])
        REFERENCES [dbo].[Combo]([id_combo])
);
GO

CREATE TABLE [dbo].[ChiTietDatBanMon] (
    [id_chi_tiet_dat_ban_mon] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dat_ban] INT NOT NULL,
    [id_mon] INT NOT NULL,
    [so_luong] INT NOT NULL DEFAULT 1,

    CONSTRAINT UQ_DatBan_Mon UNIQUE([id_dat_ban], [id_mon]),

    FOREIGN KEY ([id_dat_ban])
        REFERENCES [dbo].[DatBan]([id_dat_ban]),

    FOREIGN KEY ([id_mon])
        REFERENCES [dbo].[Mon]([id_mon])
);
GO

-- =====================================================
-- 5. HÓA ĐƠN
-- =====================================================

CREATE TABLE [dbo].[HoaDon] (
    [id_hoa_don] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_hoa_don] VARCHAR(50) UNIQUE,
    [ma_giao_dich] VARCHAR(50),

    [trang_thai_hoa_don] TINYINT,
    [trang_thai_thanh_toan] TINYINT,
    [phuong_thuc_thanh_toan] TINYINT,

    [sdt_khach_hang] VARCHAR(15),

    [tien_truoc_giam] DECIMAL(18,2) DEFAULT 0,
    [tien_coc] DECIMAL(18,2) DEFAULT 0,
    [tien_giam_gia] DECIMAL(18,2) DEFAULT 0,
    [tong_tien] DECIMAL(18,2) DEFAULT 0,

    -- SỐ TIỀN THEO TỪNG PHƯƠNG THỨC THANH TOÁN
    [so_tien_chuyen_khoan] DECIMAL(18,2) DEFAULT 0,
    [so_tien_tien_mat] DECIMAL(18,2) DEFAULT 0,

    [thoi_gian_xuat] DATETIME2,

    [id_ban] INT,
    [id_dat_ban] INT,
    [id_giam_gia] INT,
    [id_khach_hang] INT,
    [id_nhan_vien] INT,

    FOREIGN KEY ([id_ban])
        REFERENCES [dbo].[Ban]([id_ban]),

    FOREIGN KEY ([id_dat_ban])
        REFERENCES [dbo].[DatBan]([id_dat_ban]),

    FOREIGN KEY ([id_giam_gia])
        REFERENCES [dbo].[GiamGia]([id_giam_gia]),

    FOREIGN KEY ([id_khach_hang])
        REFERENCES [dbo].[KhachHang]([id_khach_hang]),

    FOREIGN KEY ([id_nhan_vien])
        REFERENCES [dbo].[NhanVien]([id_nhan_vien])
);
GO

-- =====================================================
-- 6. HÓA ĐƠN CHI TIẾT
-- =====================================================

CREATE TABLE [dbo].[HoaDonChiTiet] (
    [id_hoa_don_chi_tiet] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_hoa_don_chi_tiet] VARCHAR(20) UNIQUE,

    [id_mon] INT,
    [id_combo] INT,
    [id_hoa_don] INT,

    [so_luong] INT,
    [gia_ban_tai_thoi_dien] DECIMAL(18,2),
    [tien_giam_gia_mon] DECIMAL(18,2),
    [thanh_tien] DECIMAL(18,2),

    [da_len] INT NOT NULL DEFAULT 0,
    [trang_thai_mon_an] VARCHAR(30),

    FOREIGN KEY ([id_mon])
        REFERENCES [dbo].[Mon]([id_mon]),

    FOREIGN KEY ([id_combo])
        REFERENCES [dbo].[Combo]([id_combo]),

    FOREIGN KEY ([id_hoa_don])
        REFERENCES [dbo].[HoaDon]([id_hoa_don])
);
GO

-- =====================================================
-- 7. THANH TOÁN ONLINE
-- =====================================================

CREATE TABLE [dbo].[transactions_payment] (
    [id] BIGINT IDENTITY(1,1) PRIMARY KEY,
    [reference_code] VARCHAR(255) NOT NULL UNIQUE,
    [amount] INT NOT NULL,
    [content] VARCHAR(255),
    [id_dat_ban] INT NOT NULL,
    [created_at] DATETIME2(6) NOT NULL,

    CONSTRAINT FK_TransactionPayment_DatBan
        FOREIGN KEY ([id_dat_ban])
        REFERENCES [dbo].[DatBan]([id_dat_ban])
);
GO

-- =====================================================
-- 8. DỮ LIỆU MẪU
-- =====================================================

-- CHỨC VỤ
INSERT INTO ChucVu (ma_chuc_vu, ten_chuc_vu) VALUES
('CV01', N'ADMIN'),
('CV02', N'STAFF'),
('CV03', N'USER');
GO

-- DANH MỤC
INSERT INTO DanhMuc (loai_danh_muc, mo_ta, quay) VALUES
(N'Lẩu', N'Các loại lẩu', 'BEP'),
(N'Đồ nhúng', N'Thịt, rau, nấm', 'BEP'),
(N'Đồ uống', N'Đồ uống các loại', 'BAR');
GO

-- KHU VỰC
INSERT INTO KhuVuc (ma_khu_vuc, mo_ta, ten_khu_vuc, trang_thai) VALUES
('KV01', N'Sảnh chính', N'Tầng 1', 1),
('KV02', N'Khu vực thường', N'Tầng 2', 1),
('KV03', N'Khu vực VIP', N'Tầng 3', 1);
GO

-- ĐỢT GIẢM GIÁ
INSERT INTO DotGiamGia (ten_chuong_trinh, ngay_bat_dau, ngay_ket_thuc) VALUES
(N'Khuyến mãi hè', '2026-06-01', '2026-12-31');
GO

-- GIẢM GIÁ
INSERT INTO GiamGia
(ma_giam_gia, ngay_tao, ngay_ket_thuc, dieu_kien_su_dung,
gia_tri_giam_toi_da, gia_tri_giam, loai_giam,
so_luong_ma_giam_gia, so_luong_dung, trang_thai)
VALUES
('KM2026', '2026-06-01', '2026-12-31', N'Đơn hàng từ 500.000 VNĐ',
100000, 50000, 'TIEN', 100, 0, 1);
GO

-- TÀI KHOẢN
INSERT INTO TaiKhoan
(ma_tai_khoan, ten_dang_nhap, mat_khau, trang_thai, id_chuc_vu)
VALUES
('TK001', 'admin', '123456', 1, 1),
('TK002', 'staff', '123456', 1, 2),
('TK003', 'khachhang01', '123456', 1, 3);
GO

-- KHÁCH HÀNG
INSERT INTO KhachHang
(ma_khach_hang, ten_khach_hang, gioi_tinh, dia_chi,
so_dien_thoai, id_tai_khoan, email, trang_thai)
VALUES
('KH001', N'Nguyễn Văn A', 1, N'Hà Nội',
'0901234567', 3, 'khachhang@gmail.com', 1);
GO

-- NHÂN VIÊN
INSERT INTO NhanVien
(ma_nhan_vien, ten_nhan_vien, gioi_tinh, so_dien_thoai,
email, id_chuc_vu, id_tai_khoan, dia_chi, trang_thai)
VALUES
('NV001', N'Trần Văn B', 1, '0987654321',
'staff@gmail.com', 2, 2, N'Hà Nội', 1);
GO

-- MÓN ĂN
INSERT INTO Mon
(ten_mon, don_gia_hien_tai, id_danh_muc, trang_thai,
hinh_anh, trang_thai_ban_hang)
VALUES
(N'Lẩu Thái', 200000, 1, 1, 'lau1.jpg', 1),
(N'Bò Mỹ', 150000, 2, 1, 'bo_my.jpg', 1),
(N'Lẩu Kim Chi', 250000, 1, 1, 'lau_kimchi.jpg', 1),
(N'Lẩu Tứ Xuyên', 320000, 1, 1, 'lau_tuxuyen.jpg', 1),
(N'Ba Chỉ Bò Mỹ', 180000, 2, 1, 'bachi_bo.jpg', 1),
(N'Nấm Kim Châm', 50000, 2, 1, 'nam_kimcham.jpg', 1),
(N'Coca Cola', 20000, 3, 1, 'coca.jpg', 1),
(N'Trà Chanh', 25000, 3, 1, 'trachanh.jpg', 1);
GO

-- COMBO
INSERT INTO Combo
(ten_combo, gia_combo, hinh_anh, trang_thai, trang_thai_ban_hang)
VALUES
(N'Combo Lẩu 1', 299000, 'lau1.jpg', 1, 1),
(N'Combo Lẩu 2', 499000, 'lau2.jpg', 1, 1),
(N'Combo Gia Đình', 699000, 'combo_giadinh.jpg', 1, 1),
(N'Combo Cặp Đôi', 399000, 'combo_capdoi.jpg', 1, 1),
(N'Combo Sinh Viên', 299000, 'combo_sinhvien.jpg', 1, 1),
(N'Combo Hải Sản', 899000, 'combo_haisan.jpg', 1, 1),
(N'Combo VIP', 1299000, 'combo_vip.jpg', 1, 1),
(N'Combo Buffet Mini', 499000, 'combo_buffet.jpg', 1, 1);
GO

-- CHI TIẾT COMBO
INSERT INTO ChiTietCombo (so_luong, id_mon, id_combo, mo_ta) VALUES
(1, 1, 1, N'Lẩu Thái'),
(1, 2, 1, N'Bò Mỹ'),
(1, 3, 2, N'Lẩu Kim Chi'),
(2, 5, 3, N'Ba chỉ bò Mỹ'),
(2, 6, 3, N'Nấm kim châm'),
(2, 5, 4, N'Ba chỉ bò Mỹ'),
(1, 1, 4, N'Lẩu Thái'),
(2, 7, 5, N'Coca Cola'),
(1, 2, 5, N'Bò Mỹ'),
(2, 8, 6, N'Trà chanh'),
(1, 3, 6, N'Lẩu Kim Chi'),
(2, 4, 7, N'Lẩu Tứ Xuyên'),
(2, 5, 8, N'Nước uống');
GO

-- BÀN
INSERT INTO Ban (ten_ban, loai_ban, id_khu_vuc, trang_thai) VALUES
('B1', 0, 1, 0),
('B2', 1, 1, 0),
('B3', 2, 1, 0),
('B4', 0, 2, 0),
('B5', 1, 2, 0),
('B6', 2, 2, 0),
('B7', 0, 3, 0),
('B8', 1, 3, 0),
('B9', 2, 3, 0);
GO

-- CHI TIẾT GIẢM GIÁ
INSERT INTO ChiTietGiamGiaMon
(id_dot_giam_gia, id_mon, muc_giam, loai_giam, trang_thai)
VALUES
(1, 1, 10000, 'TIEN', 1);

INSERT INTO ChiTietGiamGiaCombo
(id_dot_giam_gia, id_combo, muc_giam, loai_giam, trang_thai)
VALUES
(1, 1, 10, 'PHANTRAM', 1);
GO

-- ĐẶT BÀN
INSERT INTO DatBan
(id_khach_hang, ngay_dat, gio_dat, sdt_khach_hang,
so_nguoi, trang_thai, ghi_chu, thoi_gian_den_du_kien,
so_tien_coc, trang_thai_coc, phuong_thuc_thanh_toan,
id_tai_khoan_tao, id_tai_khoan_xac_nhan)
VALUES
(1, '2026-08-27', '18:00:00', '0901234567',
4, 1, N'Đặt bàn dùng bữa tối', '2026-08-27 18:00:00',
100000, 1, 1, 3, 2);
GO

-- CHI TIẾT ĐẶT BÀN
INSERT INTO ChiTietDatBanBan (id_dat_ban, id_ban)
VALUES (1, 1);

INSERT INTO ChiTietDatBanCombo (id_dat_ban, id_combo, so_luong)
VALUES (1, 1, 1);

INSERT INTO ChiTietDatBanMon (id_dat_ban, id_mon, so_luong)
VALUES (1, 2, 2);
GO

-- HÓA ĐƠN
INSERT INTO HoaDon
(ma_hoa_don, ma_giao_dich, trang_thai_hoa_don,
sdt_khach_hang, tien_truoc_giam, tien_coc,
tien_giam_gia, tong_tien, so_tien_chuyen_khoan,
so_tien_tien_mat, thoi_gian_xuat,
id_ban, id_dat_ban, id_giam_gia,
id_khach_hang, id_nhan_vien,
trang_thai_thanh_toan, phuong_thuc_thanh_toan)
VALUES
(
'HD001', 'TXN001', 1,
'0901234567', 500000, 100000,
50000, 350000, 150000,
200000, '2026-08-27 20:00:00',
1, 1, 1,
1, 1,
1, 1
);
GO

-- HÓA ĐƠN CHI TIẾT
INSERT INTO HoaDonChiTiet
(ma_hoa_don_chi_tiet, id_mon, id_combo, id_hoa_don,
so_luong, gia_ban_tai_thoi_dien,
tien_giam_gia_mon, thanh_tien,
da_len, trang_thai_mon_an)
VALUES
(
'HDCT001', 1, NULL, 1,
1, 200000,
10000, 190000,
1, 'DA_LEN'
);
GO

-- TRANSACTION PAYMENT
INSERT INTO transactions_payment
(reference_code, amount, content, id_dat_ban, created_at)
VALUES
('TXN_BOOKING_001', 100000, 'Thanh toan tien coc dat ban', 1, GETDATE());
GO

-- =====================================================
-- KIỂM TRA DỮ LIỆU
-- =====================================================

SELECT 'ChucVu' AS TenBang, COUNT(*) AS SoLuong FROM ChucVu
UNION ALL SELECT 'DanhMuc', COUNT(*) FROM DanhMuc
UNION ALL SELECT 'Mon', COUNT(*) FROM Mon
UNION ALL SELECT 'Combo', COUNT(*) FROM Combo
UNION ALL SELECT 'Ban', COUNT(*) FROM Ban
UNION ALL SELECT 'DatBan', COUNT(*) FROM DatBan
UNION ALL SELECT 'HoaDon', COUNT(*) FROM HoaDon
UNION ALL SELECT 'HoaDonChiTiet', COUNT(*) FROM HoaDonChiTiet;
GO