CREATE DATABASE [hotpot_restaurant_booking];
GO
USE [hotpot_restaurant_booking];
GO

-- 1. Bảng độc lập (không khóa ngoại)
CREATE TABLE [dbo].[ChucVu] (
    [id_chuc_vu] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_chuc_vu] VARCHAR(15),
    [ten_chuc_vu] NVARCHAR(10)
);

CREATE TABLE [dbo].[DanhMuc] (
    [id_danh_muc] INT IDENTITY(1,1) PRIMARY KEY,
    [loai_danh_muc] NVARCHAR(50),
    [mo_ta] NVARCHAR(100)
);

CREATE TABLE [dbo].[KhuVuc] (
    [id_khu_vuc] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_khu_vuc] VARCHAR(20),
    [mo_ta] NVARCHAR(100),
    [ten_khu_vuc] NVARCHAR(30),
    [trang_thai] TINYINT
);

CREATE TABLE [dbo].[DotGiamGia] (
    [id_dot_giam_gia] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_chuong_trinh] NVARCHAR(40),
    [ngay_bat_dau] DATE,
    [ngay_ket_thuc] DATE
);

CREATE TABLE [dbo].[Combo] (
    [id_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_combo] NVARCHAR(50),
    [gia_combo] DECIMAL(18, 2),
    [hinh_anh] VARCHAR(500),
    [trang_thai] TINYINT
);

CREATE TABLE [dbo].[GiamGia] (
    [id_giam_gia] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_giam_gia] VARCHAR(20),
    [ngay_tao] DATE,
    [ngay_ket_thuc] DATE,
    [dieu_kien_su_dung] NVARCHAR(100),
    [gia_tri_giam_toi_da] DECIMAL(18, 2),
    [gia_tri_giam] DECIMAL(18, 2),
    [loai_giam] VARCHAR(20),
    [so_luong_ma_giam_gia] INT,
    [so_luong_dung] INT,
    [trang_thai] TINYINT
);

-- 2. Bảng có khóa ngoại (đã sắp xếp thứ tự để tạo thành công)
CREATE TABLE [dbo].[TaiKhoan] (
    [id_tai_khoan] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_tai_khoan] VARCHAR(20) UNIQUE,
    [ten_dang_nhap] VARCHAR(20) UNIQUE,
    [mat_khau] VARCHAR(255),
    [trang_thai] BIT,
    [id_chuc_vu] INT NOT NULL,
    FOREIGN KEY ([id_chuc_vu]) REFERENCES [dbo].[ChucVu]([id_chuc_vu])
);

CREATE TABLE [dbo].[Mon] (
    [id_mon] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_mon] NVARCHAR(30),
    [don_gia_hien_tai] DECIMAL(18, 2),
    [id_danh_muc] INT,
    [trang_thai] TINYINT DEFAULT 0,
    FOREIGN KEY ([id_danh_muc]) REFERENCES [dbo].[DanhMuc]([id_danh_muc])
);

CREATE TABLE [dbo].[Ban] (
    [id_ban] INT IDENTITY(1,1) PRIMARY KEY,
    [ten_ban] NVARCHAR(10),
    [loai_ban] TINYINT,
    [id_khu_vuc] INT,
    [trang_thai] TINYINT,
    FOREIGN KEY ([id_khu_vuc]) REFERENCES [dbo].[KhuVuc]([id_khu_vuc])
);

CREATE TABLE [dbo].[KhachHang] (
    [id_khach_hang] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_khach_hang] VARCHAR(15) UNIQUE,
    [ten_khach_hang] NVARCHAR(25),
    [gioi_tinh] BIT,
    [dia_chi] NVARCHAR(50),
    [so_dien_thoai] VARCHAR(10) UNIQUE,
    [id_tai_khoan] INT,
    [email] VARCHAR(50),
    [trang_thai] BIT,
    FOREIGN KEY ([id_tai_khoan]) REFERENCES [dbo].[TaiKhoan]([id_tai_khoan])
);

CREATE TABLE [dbo].[NhanVien] (
    [id_nhan_vien] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_nhan_vien] VARCHAR(15) UNIQUE,
    [ten_nhan_vien] NVARCHAR(25),
    [gioi_tinh] BIT,
    [so_dien_thoai] VARCHAR(10),
    [email] VARCHAR(30),
    [id_chuc_vu] INT,
    [id_tai_khoan] INT,
    [dia_chi] NVARCHAR(50),
    [trang_thai] BIT,
    FOREIGN KEY ([id_chuc_vu]) REFERENCES [dbo].[ChucVu]([id_chuc_vu]),
    FOREIGN KEY ([id_tai_khoan]) REFERENCES [dbo].[TaiKhoan]([id_tai_khoan])
);

CREATE TABLE [dbo].[ChiTietCombo] (
    [id_chi_tiet_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [so_luong] INT,
    [id_mon] INT,
    [id_combo] INT,
    [mo_ta] NVARCHAR(100),
    FOREIGN KEY ([id_mon]) REFERENCES [dbo].[Mon]([id_mon]),
    FOREIGN KEY ([id_combo]) REFERENCES [dbo].[Combo]([id_combo])
);

CREATE TABLE [dbo].[ChiTietGiamGiaMon] (
    [id_chi_tiet_giam_gia_mon] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dot_giam_gia] INT,
    [id_mon] INT,
    [muc_giam] DECIMAL(18, 2),
    FOREIGN KEY ([id_dot_giam_gia]) REFERENCES [dbo].[DotGiamGia]([id_dot_giam_gia]),
    FOREIGN KEY ([id_mon]) REFERENCES [dbo].[Mon]([id_mon])
);

CREATE TABLE [dbo].[DatBan] (
    [id_dat_ban] INT IDENTITY(1,1) PRIMARY KEY,
    [id_khach_hang] INT,

    [ngay_dat] DATE,
    [gio_dat] TIME,
    [sdt_khach_hang] VARCHAR(10),
    [so_nguoi] INT,
    [trang_thai] TINYINT,
    [ghi_chu] NVARCHAR(100),
    [thoi_gian_den_du_kien] DATETIME2,
    [so_tien_coc] DECIMAL(18,2),
    [trang_thai_coc] TINYINT,
    [phuong_thuc_thanh_toan] TINYINT,

    FOREIGN KEY(id_khach_hang) REFERENCES KhachHang(id_khach_hang)
);

CREATE TABLE [dbo].[ChiTietDatBanBan]
(
    id_chi_tiet_dat_ban_ban INT IDENTITY(1,1) PRIMARY KEY,
    id_dat_ban INT NOT NULL,
    id_ban INT NOT NULL,

    CONSTRAINT FK_CTDBB_DatBan FOREIGN KEY(id_dat_ban) REFERENCES DatBan(id_dat_ban),

    CONSTRAINT FK_CTDBB_Ban FOREIGN KEY(id_ban) REFERENCES Ban(id_ban),

    CONSTRAINT UQ_DatBan_Ban UNIQUE(id_dat_ban,id_ban)
);

CREATE TABLE [dbo].[ChiTietDatBanCombo] (
    [id_chi_tiet_dat_ban_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dat_ban] INT NOT NULL,
    [id_combo] INT NOT NULL,
    [so_luong] INT NOT NULL DEFAULT 1,
    CONSTRAINT UQ_DatBan_Combo UNIQUE(id_dat_ban,id_combo),
    CONSTRAINT FK_CTDBCombo_DatBan FOREIGN KEY ([id_dat_ban]) REFERENCES [dbo].[DatBan]([id_dat_ban]),
    CONSTRAINT FK_CTDBCombo_Combo FOREIGN KEY ([id_combo]) REFERENCES [dbo].[Combo]([id_combo])
);
GO

CREATE TABLE [dbo].[ChiTietDatBanMon] (
    [id_chi_tiet_dat_ban_mon] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dat_ban] INT NOT NULL,
    [id_mon] INT NOT NULL,
    [so_luong] INT NOT NULL DEFAULT 1,
    CONSTRAINT UQ_DatBan_Mon UNIQUE(id_dat_ban,id_mon),
    CONSTRAINT FK_CTDBMon_DatBan FOREIGN KEY ([id_dat_ban]) REFERENCES [dbo].[DatBan]([id_dat_ban]),
    CONSTRAINT FK_CTDBMon_Mon FOREIGN KEY ([id_mon]) REFERENCES [dbo].[Mon]([id_mon])
);
GO

CREATE TABLE [dbo].[HoaDon] (
    [id_hoa_don] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_hoa_don] VARCHAR(20) UNIQUE,
    [ma_giao_dich] VARCHAR(50),
    [trang_thai_hoa_don] TINYINT,
    [sdt_khach_hang] VARCHAR(10),
    [tien_truoc_giam] DECIMAL(18, 2),
    [tien_coc] DECIMAL(18, 2),
    [tien_giam_gia] DECIMAL(18, 2),
    [tong_tien] DECIMAL(18, 2),
    [thoi_gian_xuat] DATETIME2,
    [id_ban] INT,
    [id_dat_ban] INT,
    [id_giam_gia] INT,
    [id_khach_hang] INT,
    [id_nhan_vien] INT,
    [trang_thai_thanh_toan] TINYINT,
    [phuong_thuc_thanh_toan] TINYINT,
    FOREIGN KEY ([id_ban]) REFERENCES [dbo].[Ban]([id_ban]),
    FOREIGN KEY ([id_dat_ban]) REFERENCES [dbo].[DatBan]([id_dat_ban]),
    FOREIGN KEY ([id_giam_gia]) REFERENCES [dbo].[GiamGia]([id_giam_gia]),
    FOREIGN KEY ([id_khach_hang]) REFERENCES [dbo].[KhachHang]([id_khach_hang]),
    FOREIGN KEY ([id_nhan_vien]) REFERENCES [dbo].[NhanVien]([id_nhan_vien])
);

CREATE TABLE [dbo].[HoaDonChiTiet] (
    [id_hoa_don_chi_tiet] INT IDENTITY(1,1) PRIMARY KEY,
    [ma_hoa_don_chi_tiet] VARCHAR(20) UNIQUE,
    [id_mon] INT,
    [id_combo] INT,
    [id_hoa_don] INT,
    [so_luong] INT,
    [gia_ban_tai_thoi_dien] DECIMAL(18, 2),
    [tien_giam_gia_mon] DECIMAL(18, 2),
    [thanh_tien] DECIMAL(18, 2),
    FOREIGN KEY ([id_mon]) REFERENCES [dbo].[Mon]([id_mon]),
    FOREIGN KEY ([id_combo]) REFERENCES [dbo].[Combo]([id_combo]),
    FOREIGN KEY ([id_hoa_don]) REFERENCES [dbo].[HoaDon]([id_hoa_don])
);

CREATE TABLE [dbo].[transactions_payment] (
    [id] BIGINT IDENTITY(1,1) PRIMARY KEY,
    [reference_code] VARCHAR(255) NOT NULL UNIQUE,
    [amount] INT NOT NULL,
    [content] VARCHAR(255),
    [id_dat_ban] INT NOT NULL,
    [created_at] DATETIME2(6) NOT NULL,

    CONSTRAINT [FK_TransactionPayment_DatBan]
        FOREIGN KEY ([id_dat_ban])
        REFERENCES [dbo].[DatBan]([id_dat_ban])
);

-- ==========================
-- CHỨC VỤ
-- ==========================
INSERT INTO [dbo].[ChucVu] (ma_chuc_vu, ten_chuc_vu)
VALUES
('CV01', N'ADMIN'),
('CV02', N'STAFF'),
('CV03', N'USER');

-- ==========================
-- DANH MỤC
-- ==========================
INSERT INTO [dbo].[DanhMuc] (loai_danh_muc, mo_ta)
VALUES
(N'Lẩu', N'Các loại lẩu'),
(N'Đồ nhúng', N'Thịt, rau, nấm'),
(N'Đồ uống', N'Đồ uống có gas');

-- ==========================
-- KHU VỰC
-- ==========================
INSERT INTO [dbo].[KhuVuc] (ma_khu_vuc, mo_ta, ten_khu_vuc, trang_thai)
VALUES
('KV01', N'Sảnh chính', N'Tầng 1', 1),
('KV02', N'Phòng thường', N'Tầng 2', 1),
('KV03', N'VIP', N'Tầng 3', 1);

-- ==========================
-- ĐỢT GIẢM GIÁ
-- ==========================
INSERT INTO [dbo].[DotGiamGia] (ten_chuong_trinh, ngay_bat_dau, ngay_ket_thuc)
VALUES
(N'Khuyến mãi hè', '2026-06-01', '2026-07-01');

-- ==========================
-- COMBO
-- ==========================
INSERT INTO [dbo].[Combo] (ten_combo, gia_combo, hinh_anh, trang_thai)
VALUES
(N'Combo Lẩu 1', 299000, 'lau1.jpg', 1),
(N'Combo Lẩu 2', 499000, 'lau2.jpg', 1);

-- ==========================
-- MÃ GIẢM GIÁ
-- ==========================
INSERT INTO [dbo].[GiamGia]
(ma_giam_gia, ngay_tao, ngay_ket_thuc, dieu_kien_su_dung,
gia_tri_giam_toi_da, gia_tri_giam, loai_giam,
so_luong_ma_giam_gia, so_luong_dung, trang_thai)
VALUES
('KM2026','2026-06-01','2026-06-30',
N'Đơn từ 500k',
100000,50000,'PHANTRAM',
100,0,1);

-- ==========================
-- TÀI KHOẢN
-- ==========================
INSERT INTO [dbo].[TaiKhoan]
(ma_tai_khoan, ten_dang_nhap, mat_khau, trang_thai, id_chuc_vu)
VALUES
('TK001','admin','123456',1,1),
('TK002','khachhang01','123456',1,3);

-- ==========================
-- MÓN
-- ==========================
INSERT INTO [dbo].[Mon]
(ten_mon, don_gia_hien_tai, id_danh_muc, trang_thai)
VALUES
(N'Lẩu Thái',200000,1,1),
(N'Bò Mỹ',150000,2,1);

-- ==========================
-- BÀN
-- ==========================
INSERT INTO [dbo].[Ban]
(ten_ban, loai_ban, id_khu_vuc, trang_thai)
VALUES
('B1',0,2,0),
('B2',1,1,0),
('B3',2,1,0);

-- ==========================
-- KHÁCH HÀNG
-- ==========================
INSERT INTO [dbo].[KhachHang]
(ma_khach_hang, ten_khach_hang, gioi_tinh,
dia_chi, so_dien_thoai, id_tai_khoan,
email, trang_thai)
VALUES
('KH001',N'Nguyễn Văn A',1,
N'Hà Nội','0901234567',2,
'a@gmail.com',1);

-- ==========================
-- NHÂN VIÊN
-- ==========================
INSERT INTO [dbo].[NhanVien]
(ma_nhan_vien, ten_nhan_vien, gioi_tinh,
so_dien_thoai, email,
id_chuc_vu, id_tai_khoan,
dia_chi, trang_thai)
VALUES
('NV001',N'Trần Văn B',1,
'0987654321','b@gmail.com',
2,1,
N'Đà Nẵng',1);

-- ==========================
-- CHI TIẾT COMBO
-- ==========================
INSERT INTO [dbo].[ChiTietCombo]
(so_luong,id_mon,id_combo,mo_ta)
VALUES
(1,1,1,N'Combo gồm lẩu');

-- ==========================
-- CHI TIẾT GIẢM GIÁ MÓN
-- ==========================
INSERT INTO [dbo].[ChiTietGiamGiaMon]
(id_dot_giam_gia,id_mon,muc_giam)
VALUES
(1,1,10000);

-- ==========================
-- ĐẶT BÀN
-- ==========================
INSERT INTO [dbo].[DatBan]
(id_khach_hang,
ngay_dat,
gio_dat,
sdt_khach_hang,
so_nguoi,
trang_thai,
thoi_gian_den_du_kien,
so_tien_coc,
trang_thai_coc,
phuong_thuc_thanh_toan)
VALUES
(
1,
'2026-06-14',
'18:00:00',
'0901234567',
4,
1,
'2026-06-14 18:00:00',
100000,
1,
1
);

-- ==========================
-- CHI TIẾT ĐẶT BÀN - BÀN
-- ==========================
INSERT INTO [dbo].[ChiTietDatBanBan]
(id_dat_ban,id_ban)
VALUES
(1,1);

-- ==========================
-- CHI TIẾT ĐẶT BÀN - COMBO
-- ==========================
INSERT INTO [dbo].[ChiTietDatBanCombo]
(id_dat_ban, id_combo, so_luong)
VALUES
(1, 1, 2),
(1, 2, 1);

-- ==========================
-- CHI TIẾT ĐẶT BÀN - MÓN
-- ==========================
INSERT INTO [dbo].[ChiTietDatBanMon]
(id_dat_ban, id_mon, so_luong)
VALUES
(1, 1, 1),
(1, 2, 2);
-- ==========================
-- HÓA ĐƠN
-- ==========================
INSERT INTO [dbo].[HoaDon]
(ma_hoa_don,
ma_giao_dich,
trang_thai_hoa_don,
sdt_khach_hang,
tien_truoc_giam,
tien_coc,
tien_giam_gia,
tong_tien,
thoi_gian_xuat,
id_ban,
id_dat_ban,
id_giam_gia,
id_khach_hang,
id_nhan_vien,
trang_thai_thanh_toan,
phuong_thuc_thanh_toan)
VALUES
(
'HD001',
'TXN001',
1,
'0901234567',
500000,
100000,
50000,
350000,
'2026-06-14 20:00:00',
1,
1,
1,
1,
1,
1,
1
);

-- ==========================
-- HÓA ĐƠN CHI TIẾT
-- ==========================
INSERT INTO [dbo].[HoaDonChiTiet]
(ma_hoa_don_chi_tiet,
id_mon,
id_combo,
id_hoa_don,
so_luong,
gia_ban_tai_thoi_dien,
tien_giam_gia_mon,
thanh_tien)
VALUES
(
'HDCT001',
1,
1,
1,
1,
200000,
10000,
190000
);


-- Ép thêm cột loai_giam trực tiếp (bỏ qua kiểm tra IF)
ALTER TABLE [dbo].[ChiTietGiamGiaMon] ADD [loai_giam] VARCHAR(20) NULL;
GO

-- Ép thêm cột trang_thai trực tiếp
ALTER TABLE [dbo].[ChiTietGiamGiaMon] ADD [trang_thai] TINYINT NULL;
GO

-- Cập nhật dữ liệu mặc định cho các bản ghi cũ đỡ bị bốc lỗi NULL
UPDATE [dbo].[ChiTietGiamGiaMon] SET [loai_giam] = 'TIEN' WHERE [loai_giam] IS NULL;
UPDATE [dbo].[ChiTietGiamGiaMon] SET [trang_thai] = 1 WHERE [trang_thai] IS NULL;
GO

--===========================update sql trạng thái món combo ngày 13/7
-- 1. Thêm tr??ng hình ?nh vào b?ng Món (Table Mon)
ALTER TABLE [dbo].[Mon] ADD [hinh_anh] VARCHAR(500) NULL;
GO

-- 2. Thêm tr??ng tr?ng thái bán hàng vào b?ng Món (0: H?t hàng, 1: Còn hàng)
ALTER TABLE [dbo].[Mon] ADD [trang_thai_ban_hang] TINYINT DEFAULT 1;
GO

-- 3. Thêm tr??ng tr?ng thái bán hàng vào b?ng Combo (0: H?t hàng, 1: Còn hàng)
ALTER TABLE [dbo].[Combo] ADD [trang_thai_ban_hang] TINYINT DEFAULT 1;
GO

-- 4. C?p nh?t giá tr? m?c ??nh cho các b?n ghi c? tránh b? l?i tr?ng d? li?u (NULL)
UPDATE [dbo].[Mon] SET [trang_thai_ban_hang] = 1 WHERE [trang_thai_ban_hang] IS NULL;
UPDATE [dbo].[Combo] SET [trang_thai_ban_hang] = 1 WHERE [trang_thai_ban_hang] IS NULL;
GO


-- C?p nh?t hình ?nh gi? l?p cho món ?n hi?n t?i
UPDATE [dbo].[Mon] SET [hinh_anh] = 'default_food.jpg' WHERE [hinh_anh] IS NULL;
GO

--======================cập nhật ngày 16/7 thêm cột và khóa ngoại cho bảng DatBan
ALTER TABLE DatBan
ADD
    id_tai_khoan_tao INT NULL,
    id_tai_khoan_xac_nhan INT NULL,
    id_tai_khoan_huy INT NULL;
GO
ALTER TABLE DatBan
ADD CONSTRAINT FK_DatBan_TaiKhoanTao
FOREIGN KEY (id_tai_khoan_tao)
REFERENCES TaiKhoan(id_tai_khoan);
GO

ALTER TABLE DatBan
ADD CONSTRAINT FK_DatBan_TaiKhoanXacNhan
FOREIGN KEY (id_tai_khoan_xac_nhan)
REFERENCES TaiKhoan(id_tai_khoan);
GO

ALTER TABLE DatBan
ADD CONSTRAINT FK_DatBan_TaiKhoanHuy
FOREIGN KEY (id_tai_khoan_huy)
REFERENCES TaiKhoan(id_tai_khoan);
GO
--==========cập nhật của nam nem chua
-- 3. Tạo thêm bảng ChiTietGiamGiaCombo (cho Combo)
CREATE TABLE [dbo].[ChiTietGiamGiaCombo] (
    [id_chi_tiet_giam_gia_combo] INT IDENTITY(1,1) PRIMARY KEY,
    [id_dot_giam_gia] INT NOT NULL,
    [id_combo] INT NOT NULL,
    [muc_giam] DECIMAL(18, 2),
    [loai_giam] VARCHAR(20) DEFAULT 'PHANTRAM',
    [trang_thai] TINYINT DEFAULT 1,
    FOREIGN KEY ([id_dot_giam_gia]) REFERENCES [dbo].[DotGiamGia]([id_dot_giam_gia]),
    FOREIGN KEY ([id_combo]) REFERENCES [dbo].[Combo]([id_combo])
);
GO
-- 1. Thêm cột `quay` vào bảng DanhMuc (Mặc định là 'BEP')
ALTER TABLE [dbo].[DanhMuc] 
ADD [quay] VARCHAR(10) NOT NULL DEFAULT 'BEP';
GO

-- 2. Cập nhật dữ liệu: Danh mục 'Đồ uống' (id = 3) thuộc quầy 'BAR'
UPDATE [dbo].[DanhMuc] SET [quay] = 'BAR' WHERE [id_danh_muc] = 3;
UPDATE [dbo].[DanhMuc] SET [quay] = 'BEP' WHERE [id_danh_muc] IN (1, 2);
GO

-- ==========================
-- THÊM MÓN ĂN
-- ==========================
INSERT INTO [dbo].[Mon]
(ten_mon, don_gia_hien_tai, id_danh_muc, trang_thai, hinh_anh, trang_thai_ban_hang)
VALUES
(N'Lẩu Kim Chi', 250000, 1, 1, 'lau_kimchi.jpg', 1),
(N'Lẩu Tứ Xuyên', 320000, 1, 1, 'lau_tuxuyen.jpg', 1),
(N'Ba Chỉ Bò Mỹ', 180000, 2, 1, 'bachi_bo.jpg', 1),
(N'Nấm Kim Châm', 50000, 2, 1, 'nam_kimcham.jpg', 1),
(N'Coca Cola', 20000, 3, 1, 'coca.jpg', 1),
(N'Trà Chanh', 25000, 3, 1, 'trachanh.jpg', 1);
GO

-- ==========================
-- THÊM COMBO
-- ==========================
INSERT INTO [dbo].[Combo]
(ten_combo, gia_combo, hinh_anh, trang_thai, trang_thai_ban_hang)
VALUES
(N'Combo Gia Đình', 699000, 'combo_giadinh.jpg', 1, 1),
(N'Combo Cặp Đôi', 399000, 'combo_capdoi.jpg', 1, 1),
(N'Combo Sinh Viên', 299000, 'combo_sinhvien.jpg', 1, 1),
(N'Combo Hải Sản', 899000, 'combo_haisan.jpg', 1, 1),
(N'Combo VIP', 1299000, 'combo_vip.jpg', 1, 1),
(N'Combo Buffet Mini', 499000, 'combo_buffet.jpg', 1, 1);
GO

-- ==========================
-- THÊM CHI TIẾT COMBO
-- (Giả sử các món mới có ID từ 3 -> 8
--  và combo mới có ID từ 3 -> 8)
-- ==========================
INSERT INTO [dbo].[ChiTietCombo]
(so_luong, id_mon, id_combo, mo_ta)
VALUES
(1,3,3,N'Ba chỉ bò Mỹ'),
(2,4,3,N'Nấm kim châm'),

(2,3,4,N'Bò Mỹ'),
(1,1,4,N'Lẩu Thái'),

(2,5,5,N'Coca Cola'),
(1,2,5,N'Bò Mỹ'),

(2,6,6,N'Trà chanh'),
(1,7,6,N'Lẩu Kim Chi'),

(3,8,7,N'Lẩu Tứ Xuyên'),
(2,3,7,N'Ba chỉ bò'),

(2,4,8,N'Nấm'),
(2,5,8,N'Nước uống');
GO

-- ==========================
-- THÊM BÀN
-- ==========================
INSERT INTO [dbo].[Ban]
(ten_ban, loai_ban, id_khu_vuc, trang_thai)
VALUES
('B4',0,1,0),
('B5',1,1,0),
('B6',2,2,0),
('B7',0,2,0),
('B8',1,3,0),
('B9',2,3,0);
GO