create database hotpot_restaurant_booking;
go

use hotpot_restaurant_booking;
go

create table ChucVu(
                       id_chuc_vu int primary key identity(1,1),
                       ma_chuc_vu varchar(15),
                       ten_chuc_vu nvarchar(10)
)
    go

create table TaiKhoan(
                         id_tai_khoan int primary key identity(1,1),
                         ma_tai_khoan varchar(20) unique,
                         ten_dang_nhap varchar(20) unique,
                         mat_khau varchar(255),
                         trang_thai bit,
                         id_chuc_vu int not null,
                         foreign key (id_chuc_vu) references ChucVu(id_chuc_vu) 
)
    go

create table NhanVien(
                         id_nhan_vien int primary key identity(1,1),
                         ma_nhan_vien varchar(15) unique,
                         ten_nhan_vien nvarchar(25),
                         gioi_tinh bit,
                         so_dien_thoai varchar(10),
                         email varchar(30),
                         id_chuc_vu int,
                         id_tai_khoan int,
                         dia_chi nvarchar(50),
                         trang_thai bit,

                         foreign key (id_chuc_vu) references ChucVu(id_chuc_vu),
                         foreign key (id_tai_khoan) references TaiKhoan(id_tai_khoan)
)
    go

create table KhachHang(
                          id_khach_hang int primary key identity(1,1),
                          ma_khach_hang varchar(15) unique,
                          ten_khach_hang nvarchar(25),
                          gioi_tinh bit,
                          dia_chi nvarchar(50),
                          so_dien_thoai varchar(10) unique,
                          id_tai_khoan int,
                          email varchar(50),
                          trang_thai bit,

                          foreign key (id_tai_khoan) references TaiKhoan(id_tai_khoan)
)
    go

create table KhuVuc(
                       id_khu_vuc int primary key identity(1,1),
                       mo_ta nvarchar(100),
                       ten_khu_vuc nvarchar(30),
                       trang_thai tinyint
)
    go

create table Ban(
                    id_ban int primary key identity(1,1),
                    loai_ban varchar(20),
                    so_luong_ban int,
                    id_khu_vuc int,
                    trang_thai tinyint,

                    foreign key (id_khu_vuc) references KhuVuc(id_khu_vuc)
)
    go

create table DatBan(
                       id_dat_ban int primary key identity(1,1),
                       id_ban int,
                       id_khach_hang int,
                       ngay_dat date,
                       gio_dat time,
                       sdt_khach_hang varchar(10),
                       so_nguoi int,
                       trang_thai tinyint,
                       ghi_chu nvarchar(100),
                       thoi_gian_den_du_kien datetime2,
                       so_tien_coc decimal(18,2),
                       trang_thai_coc tinyint,
                       phuong_thuc_thanh_toan tinyint,

                       foreign key (id_ban) references Ban(id_ban),
                       foreign key (id_khach_hang) references KhachHang(id_khach_hang)
)
    go

create table GiamGia(
                        id_giam_gia int primary key identity(1,1),
                        ma_giam_gia varchar(20),
                        ngay_tao date,
                        ngay_ket_thuc date,
                        dieu_kien_su_dung nvarchar(100),
                        gia_tri_giam_toi_da decimal(18,2),
                        gia_tri_giam decimal(18,2),
                        loai_giam varchar(20),
                        so_luong_ma_giam_gia int,
                        so_luong_dung int,
                        trang_thai tinyint
)
    go

create table HoaDon(
                       id_hoa_don int primary key identity(1,1),
                       ma_hoa_don varchar(20) unique,
                       ma_giao_dich varchar(50),
                       trang_thai_hoa_don tinyint,
                       sdt_khach_hang varchar(10),
                       tien_truoc_giam decimal(18,2),
                       tien_coc decimal(18,2),
                       tien_giam_gia decimal(18,2),
                       tong_tien decimal(18,2),
                       thoi_gian_xuat datetime2,
                       id_ban int,
                       id_dat_ban int,
                       id_giam_gia int,
                       id_khach_hang int,
                       id_nhan_vien int,
                       trang_thai_thanh_toan tinyint,
                       phuong_thuc_thanh_toan tinyint,

                       foreign key (id_ban) references Ban(id_ban),
                       foreign key (id_dat_ban) references DatBan(id_dat_ban),
                       foreign key (id_giam_gia) references GiamGia(id_giam_gia),
                       foreign key (id_khach_hang) references KhachHang(id_khach_hang),
                       foreign key (id_nhan_vien) references NhanVien(id_nhan_vien)
)
    go

create table Combo(
                      id_combo int primary key identity(1,1),
                      ten_combo nvarchar(50),
                      gia_combo decimal(18,2),
                      hinh_anh varchar(500),
                      trang_thai tinyint
)
    go

create table DanhMuc(
                        id_danh_muc int primary key identity(1,1),
                        loai_danh_muc nvarchar(50),
                        mo_ta nvarchar(100)
)
    go

create table Mon(
                    id_mon int primary key identity(1,1),
                    ten_mon nvarchar(30),
                    don_gia_hien_tai decimal(18,2),
                    id_danh_muc int,
                    trang_thai tinyint default 0,

                    foreign key (id_danh_muc) references DanhMuc(id_danh_muc)
)
go

create table HoaDonChiTiet(
                              id_hoa_don_chi_tiet int primary key identity(1,1),
                              ma_hoa_don_chi_tiet varchar(20) unique,
                              id_mon int,
                              id_combo int,
                              id_hoa_don int,
                              so_luong int,
                              gia_ban_tai_thoi_dien decimal(18,2),
                              tien_giam_gia_mon decimal(18,2),
                              thanh_tien decimal(18,2),

                              foreign key (id_mon) references Mon(id_mon),
                              foreign key (id_hoa_don) references HoaDon(id_hoa_don),
                              foreign key (id_combo) references Combo(id_combo)
)
    go

create table ChiTietCombo(
                             id_chi_tiet_combo int primary key identity(1,1),
                             so_luong int,
                             id_mon int,
                             id_combo int,
                             mo_ta nvarchar(100),

                             foreign key (id_mon) references Mon(id_mon),
                             foreign key (id_combo) references Combo(id_combo)
)
    go

create table DotGiamGia(
                           id_dot_giam_gia int primary key identity(1,1),
                           ten_chuong_trinh nvarchar(40),
                           ngay_bat_dau date,
                           ngay_ket_thuc date
)
    go

create table ChiTietGiamGiaMon(
                                  id_chi_tiet_giam_gia_mon int primary key identity(1,1),
                                  id_dot_giam_gia int,
                                  id_mon int,
                                  muc_giam decimal(18,2),

                                  foreign key (id_mon) references Mon(id_mon),
                                  foreign key (id_dot_giam_gia) references DotGiamGia(id_dot_giam_gia)
)
    go

-- =========================================
-- CHUC VU
-- =========================================
insert into ChucVu(ma_chuc_vu, ten_chuc_vu)
values
('CV001', N'Qu?n lý'),
('CV002', N'Thu ngân'),
('CV003', N'Nhân viên');

-- =========================================
-- TAI KHOAN
-- =========================================

insert into TaiKhoan(ma_tai_khoan, ten_dang_nhap, mat_khau, trang_thai, id_chuc_vu)
values
('TK001', 'admin', '123456', 1, 1),
('TK002', 'thungan01', '123456', 1, 2),
('TK003', 'nhanvien01', '123456', 1, 3),
('TK004', 'khachhang01', '123456', 1, 3),
('TK005', 'khachhang02', '123456', 1, 3),
('TK006', 'khachhang03', '123456', 1, 3);

-- =========================================
-- NHAN VIEN
-- =========================================
insert into NhanVien(
    ma_nhan_vien,
    ten_nhan_vien,
    gioi_tinh,
    so_dien_thoai,
    email,
    id_chuc_vu,
    id_tai_khoan,
    dia_chi,
    trang_thai
)
values
(
    'NV001',
    N'Nguy?n Minh Quân',
    1,
    '0911111111',
    'quan@gmail.com',
    1,
    1,
    N'Qu?n 1',
    1
),
(
    'NV002',
    N'Tr?n Qu?c Huy',
    1,
    '0922222222',
    'huy@gmail.com',
    2,
    2,
    N'Th? ??c',
    1
),
(
    'NV003',
    N'Ph?m Hoàng Long',
    1,
    '0933333333',
    'long@gmail.com',
    3,
    3,
    N'Bình Th?nh',
    1
);

-- =========================================
-- KHACH HANG
-- =========================================
insert into KhachHang(
    ma_khach_hang,
    ten_khach_hang,
    gioi_tinh,
    dia_chi,
    so_dien_thoai,
    id_tai_khoan,
    email,
    trang_thai
)
values
(
    'KH001',
    N'Lê Th? Mai',
    0,
    N'Qu?n 7',
    '0901111111',
    4,
    'mai@gmail.com',
    1
),
(
    'KH002',
    N'Nguy?n Qu?c B?o',
    1,
    N'Gò V?p',
    '0902222222',
    5,
    'bao@gmail.com',
    1
),
(
    'KH003',
    N'Tr?n Minh ??c',
    1,
    N'Tân Bình',
    '0903333333',
    6,
    'duc@gmail.com',
    1
);

-- =========================================
-- KHU VUC
-- =========================================
insert into KhuVuc(
    mo_ta,
    ten_khu_vuc,
    trang_thai
)
values
(
    N'Không gian máy l?nh t?ng 1',
    N'T?ng 1',
    1
),
(
    N'Không gian VIP riêng t?',
    N'Phòng VIP',
    1
),
(
    N'Khu v?c ngoài tr?i',
    N'Sân V??n',
    1
);

-- =========================================
-- BAN
-- =========================================
insert into Ban(
    loai_ban,
    so_luong_ban,
    id_khu_vuc,
    trang_thai
)
values
('4 nguoi', 4, 1, 1),
('6 nguoi', 6, 1, 1),
('8 nguoi', 8, 2, 1);

-- =========================================
-- DAT BAN
-- =========================================

-- =========================================
-- GIAM GIA
-- =========================================

-- =========================================
-- HOA DON
-- =========================================

-- =========================================
-- DANH MUC
-- =========================================
insert into DanhMuc(
    loai_danh_muc,
    mo_ta
)
values
(
    N'Th?t',
    N'Các món th?t nhúng l?u'
),
(
    N'H?i s?n',
    N'H?i s?n t??i s?ng'
),
(
    N'N??c u?ng',
    N'Các lo?i ?? u?ng'
);

-- =========================================
-- MON
-- =========================================
insert into Mon(
    ten_mon,
    don_gia_hien_tai,
    id_danh_muc,
    trang_thai
)
values
(N'Ếch Đồng',180000,1,0),
(N'Bò Mỹ',150000,1,0),
(N'Tôm Sú',220000,2,0),
(N'Mực Tươi',190000,2,0),
(N'Coca Cola',20000,3,0),
(N'Trà Chanh',15000,3,0);
-- =========================================
-- COMBO
-- =========================================
insert into Combo(
    ten_combo,
    gia_combo,
    hinh_anh,
    trang_thai
)
values
(
    N'Combo Gia ?ình',
    499000,
    'combo_giadinh.jpg',
    1
),
(
    N'Combo H?i S?n',
    699000,
    'combo_haisan.jpg',
    1
),
(
    N'Combo Ti?c Nhóm',
    999000,
    'combo_tiec.jpg',
    1
);

-- =========================================
-- CHI TIET COMBO
-- =========================================
insert into ChiTietCombo(
    so_luong,
    id_mon,
    id_combo,
    mo_ta
)
values
(2, 1, 1, N'2 ph?n ?ch ??ng'),
(1, 5, 1, N'1 coca cola'),

(2, 3, 2, N'2 ph?n tôm sú'),
(1, 4, 2, N'1 ph?n m?c t??i'),

(3, 1, 3, N'3 ph?n ?ch ??ng'),
(2, 2, 3, N'2 ph?n bò M?');

-- =========================================
-- HOA DON CHI TIET
-- =========================================

-- =========================================
-- DOT GIAM GIA
-- =========================================
insert into DotGiamGia(
    ten_chuong_trinh,
    ngay_bat_dau,
    ngay_ket_thuc
)
values
(
    N'Khai Tr??ng',
    '2026-05-01',
    '2026-05-31'
),
(
    N'Cu?i Tu?n Vui V?',
    '2026-06-01',
    '2026-06-30'
),
(
    N'Tri Ân Khách Hàng',
    '2026-07-01',
    '2026-07-31'
);

-- =========================================
-- CHI TIET GIAM GIA MON
-- =========================================
insert into ChiTietGiamGiaMon(
    id_dot_giam_gia,
    id_mon,
    muc_giam
)
values
(1, 1, 20000),
(2, 3, 30000),
(3, 2, 15000);
